aiohttp==3.6.2
astroid==2.4.1
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
autobahn==20.3.1
Automat==20.2.0
binance==0.3
bitfinex-api-py==1.1.6
cbpro==1.1.4
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
cryptography==3.2
dateparser==0.7.4
eventemitter==0.2.0
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
isort==4.3.21
krakenex==2.1.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
multidict==4.7.5
pushbullet.py==0.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyee==7.0.1
PyHamcrest==2.0.2
pylint==2.5.2
pymongo==3.5.1
pyOpenSSL==19.1.0
python-binance==0.7.5
python-dateutil==2.8.1
python-magic==0.4.15
pytz==2019.3
regex==2020.2.20
requests==2.20.0
service-identity==18.1.0
six==1.10.0
sortedcontainers==2.1.0
toml==0.10.0
Twisted==20.3.0
txaio==20.3.1
typed-ast==1.4.1
tzlocal==2.0.0
urllib3==1.25.8
websocket-client==0.40.0
websockets==8.1
wrapt==1.12.1
yarl==1.4.2
zope.interface==5.0.1
