krakenex~=2.1.0
attrs==19.3.0
autobahn==20.3.1
Automat==20.2.0
binance==0.3
cbpro==1.1.4
certifi==2019.11.28
cffi==1.14.0
constantly==15.1.0
cryptography==2.8
dateparser==0.7.4
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
pushbullet.py==0.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pymongo==3.5.1
pyOpenSSL==19.1.0
python-binance==0.7.5
python-dateutil==2.8.1
python-magic==0.4.15
pytz==2019.3
regex==2020.2.20
requests==2.13.0
service-identity==18.1.0
six==1.10.0
sortedcontainers==2.1.0
Twisted==20.3.0
txaio==20.3.1
tzlocal==2.0.0
urllib3==1.25.8
websocket-client==0.40.0
zope.interface==5.0.1

setuptools~=40.8.0
asyncio~=3.4.3